<footer class="footer_area">
  <!-- Footer Bottom Area Start -->
  <div class="footer_bottom_area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="social_links_area">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <!-- Bottom Footer Copywrite Text Area End -->
        </div>
      </div>
    </div>
  </div>
</footer>