

<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
<i class="fa fa-camera-retro"></i>

<!-- ***** Header Area Start ***** -->
<header class="header_area">
    <div class="main_header_area animated">
        <div class="container">
            <nav id="navigation1" class="navigation">
                <!-- Logo Area Start -->
                <div class="nav-header">
                    <a class="nav-brand" href="#">Global COVID-19 Project</a>
                    <div class="nav-toggle"></div>
                </div>
                <!-- Search panel Start -->
                <div class="nav-search">
                    <div class="nav-search-button">
                        <i class="nav-search-icon"></i>
                    </div>
                    <form>
                        <div class="nav-search-inner">
                            <input type="search" name="search" placeholder="Type Your Keywords">
                        </div>
                    </form>
                </div>
                <!-- Main Menus Wrapper -->
                <div class="nav-menus-wrapper">
                    <ul class="nav-menu align-to-right">
                        <li><a href="index.html">Home</a>
                        </li>
                        <li><a href="blog-grid-2c-news.html">NEWS</a>
                        </li>
                        <li><a href="blog-grid-2c-media.html">MEDIA</a>
                        </li>
                        <li><a href="blog-grid-2c-data.html">DATA</a>
                        </li>
                        <li><a href="blog-grid-2c-personal-accounts.html">PERSONAL ACCOUNTS</a>
                        </li>
                        <li><a href="about-us.html">ABOUT US</a>
                        </li>
                        <li><a href="contact-us.html">CONTACT US</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Welcome Area Start ***** -->
<section class="welcome_area height-700 education-version" id="home">
    <!-- Slidea Slider-->
    <div class="slidea" id="slidea">

        <div class="slidea-slide" id="education_slider_one">
            <div class="slidea-overlay slidea-overlay-to-right s-obj" data-slidea-start="0" data-slidea="opacity 0"></div>
            <div class="slidea-content slidea-content-center">
                <div class="slidea-content-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-7 ml-lg-auto text-right">
                                <div class="s-obj default-title" id="education-title-one">
                                    <h2>Local Information On a Global Pandemic</h2>
                                </div>
                                <div class="s-obj default-description" id="education-description-one">
                                    <p>Classy is completely creative, clean &amp; 100% responsive website. Put your business into next level with classy.</p>
                                </div>
                                <div class="s-obj" id="education-btn-one">
                                    <a href="#" class="btn default-button">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Background Image-->
            <img class="slidea-background" src="img/bg-img/edu-1.jpg" alt="">
        </div>
      -->
        <!--
        <div class="slidea-slide" id="education_slider_two">
            <div class="slidea-overlay slidea-overlay-to-left s-obj" data-slidea-start="0" data-slidea="opacity 0"></div>
            <div class="slidea-content slidea-content-center">
                <div class="slidea-content-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-7">
                                <div class="text-left">
                                    <div class="s-obj default-title" id="education-title-two">
                                        <h2>Why you need a Proper Education?</h2>
                                    </div>
                                    <div class="s-obj default-description" id="education-description-two">
                                        <p>Classy is completely creative, clean &amp; 100% responsive website. Put your business into next level with classy.</p>
                                    </div>
                                    <div class="s-obj" id="education-btn-two">
                                        <a href="#" class="btn default-button">Get Answer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <img class="slidea-background" src="img/bg-img/edu-2.jpg" alt="">
        </div>

        <div class="slidea-slide" id="education_slider_three">
            <div class="slidea-overlay slidea-overlay-to-right s-obj" data-slidea-start="0" data-slidea="opacity 0"></div>
            <div class="slidea-content slidea-content-center">
                <div class="slidea-content-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-7 ml-lg-auto text-right">
                                <div class="s-obj default-title" id="education-title-three">
                                    <h2>Education is Super <span>Power</span></h2>
                                </div>
                                <div class="s-obj default-description" id="education-description-three">
                                    <p>Classy is completely creative, clean &amp; 100% responsive website. Put your business into next level with classy.</p>
                                </div>
                                <div class="s-obj" id="education-btn-three">
                                    <a href="#" class="btn default-button">Start A Course</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <img class="slidea-background" src="img/bg-img/edu-3.jpg" alt="">
        </div>
      -->
    </div>
</section>

<!-- ***** Course Search Area Start ***** -->
<div class="search_course_area education-version section_padding_50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="course_search">
                    <form action="#" method="get" class="">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <!-- Single Input Box Area -->
                                <div class="form-group down_arrow">
                                    <select class="form-control">
                                        <option>Country</option>
                                        <option>United States</option>
                                        <option>Germany</option>
                                        <option>Japan</option>
                                        <option>Tanzania</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 m-xs-top-15">
                                <!-- Single Input Box Area -->
                                <div class="form-group down_arrow">
                                    <select class="form-control">
                                        <option>Type</option>
                                        <option>News</option>
                                        <option>Media</option>
                                        <option>Data</option>
                                        <option>Personal Accounts</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 m-xs-top-15">
                                <!-- Single Input Box Area -->
                                <div class="form-group">
                                    <input type="text" class="form-control" name="keywords" placeholder="Keywords">
                                </div>
                            </div>
                            <div class="col-12 col-md-3 m-xs-top-15">
                                <!-- Submit Button -->
                                <button type="submit" class="btn btn-default">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Course Search Area End ***** -->

<!-- ***** Feature Area Start ***** -->
<section class="special_feature_area education-version section_padding_100_70" id="feature">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="edu_section_heading">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <h3>We break it down into four categories</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Feature Area Start -->
                <div class="edu_single_feature wow fadeInUp" data-wow-delay=".2s">
                    <div class="edu_feature_img">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    </div>
                    <!-- Single Feature Image Area End -->
                    <div class="edu_feature_text">
                        <h5>News</h5>
                        <p>We bring you international news covering local topics.</p>
                    </div>
                    <!-- Single Feature Text Area End -->
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Feature Area Start -->
                <div class="edu_single_feature wow fadeInUp" data-wow-delay=".4s">
                    <div class="edu_feature_img">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <!-- Single Feature Image Area End -->
                    <div class="edu_feature_text">
                        <h5>Media</h5>
                        <p>The pandemic represented in images, art, and video.</p>
                    </div>
                    <!-- Single Feature Text Area End -->
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Feature Area Start -->
                <div class="edu_single_feature wow fadeInUp" data-wow-delay=".6s">
                    <div class="edu_feature_img">
                        <i class="fa fa-th" aria-hidden="true"></i>
                    </div>
                    <!-- Single Feature Image Area End -->
                    <div class="edu_feature_text">
                        <h5>Data</h5>
                        <p>Instead of big numbers, we bring targeted data showing the localized effects of the COVID-19 pandemic.</p>
                    </div>
                    <!-- Single Feature Text Area End -->
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <!-- Single Feature Area Start -->
                <div class="edu_single_feature wow fadeInUp" data-wow-delay=".8s">
                    <div class="edu_feature_img">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <!-- Single Feature Image Area End -->
                    <div class="edu_feature_text">
                        <h5>Personal Accounts</h5>
                        <p>We collect personal stories about individuals affected by the pandemic and display them for the world to see.</p>
                    </div>
                    <!-- Single Feature Text Area End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Special Feature Area End ***** -->

<!-- ***** About Us Area Start ***** -->
<section class="about_area education-version section_padding_100" id="about">
    <div class="container">
        <div class="about_us_area">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <!-- About Us Text Start -->
                    <div class="about_us_text">
                        <h3>About the Global COVID-19 Project</h3>
                        <p>Classy is a complete multi-functional template. It's creative and clean design. It's has huge collection of templates for Business, Agency, Startup, App Landing, Product Landing, Service Landing, Hosting &amp; Technology, Restaurant, Freelancer, Resume &amp; CV, Portfolios, Education, Spa &amp; Beauty, Photography, Fitness &amp; Gym.</p>
                        <p>Classy is completely creative, clean &amp; 100% responsive website. Put your business into next level with classy.</p>
                        <a href="about-us.html" class="btn btn-pill btn-flat-green">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- About Us Area -->
                <div class="col-12 col-lg-6">
                    <div class="about_us_thumb wow fadeInRight m-md-top-50 m-xs-top-50" data-wow-delay="0.2s">
                        <img src="img/bg-img/edu-about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Awesome Feature Area End ***** -->


<!-- ***** Our Advisor Area Start ***** -->
<section class="our_advisor_area education-version clearfix section_padding_100_70" id="teacher">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="edu_section_heading">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h3>Expert Teacher</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_advisor item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Single advisor profile thumb -->
                    <div class="advisor_thumb">
                        <img src="img/advisor-img/edu-tec-1.png" alt="">
                        <div class="advisor_name">
                            <h5>Dr. Riyadh Khan</h5>
                            <p>Founder, Classy Institute</p>
                        </div>
                    </div>
                    <!-- Single advisor social link -->
                    <div class="advisor_social_info">
                        <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_advisor item wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Single advisor profile thumb -->
                    <div class="advisor_thumb">
                        <img src="img/advisor-img/edu-tec-2.png" alt="">
                        <div class="advisor_name">
                            <h5>Dr. Yasin Rahman</h5>
                            <p>Senior Trainer</p>
                        </div>
                    </div>
                    <!-- Single advisor social link -->
                    <div class="advisor_social_info">
                        <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single_advisor item wow fadeInUp" data-wow-delay="0.6s">
                    <!-- Single advisor profile thumb -->
                    <div class="advisor_thumb">
                        <img src="img/advisor-img/edu-tec-3.png" alt="">
                        <div class="advisor_name">
                            <h5>Dr. Niloy Khan</h5>
                            <p>Junior Teacher</p>
                        </div>
                    </div>
                    <!-- Single advisor social link -->
                    <div class="advisor_social_info">
                        <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our advisor Area End ***** -->


<!-- ***** Blog Area Start ***** -->
<section class="blog_area education-version section_padding_100_70" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="edu_section_heading">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    <h3>Latest Articles</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Single News Area Start -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_latest_news_area m-bottom-15">
                    <div class="single_latest_news_img_area">
                        <img src="img/gallery/edu-1.jpg" alt="">
                        <!-- Category -->
                        <a href="#" class="news-category bg-primary">Education</a>
                    </div>
                    <div class="single_latest_news_text_area p-15">
                        <a class="news-headline" href="#">Education will do anything for you.</a>
                        <div class="post-meta">
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Nazrul</a>
                            <a href="#"><i class="fa fa-calendar-o" aria-hidden="true"></i> 5 Nov, 2017</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 345</a>
                        </div>
                        <p>Classy is completely creative, clean &amp; 100% responsive website. Put your business into next level with it.</p>
                        <a class="btn btn-pill btn-success m-top-15" href="#">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Single News Area Start -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_latest_news_area m-bottom-15">
                    <div class="single_latest_news_img_area">
                        <img src="img/gallery/edu-2.jpg" alt="">
                        <!-- Category -->
                        <a href="#" class="news-category bg-warning">Environment</a>
                    </div>
                    <div class="single_latest_news_text_area p-15">
                        <a class="news-headline" href="#">Education will do anything for you.</a>
                        <div class="post-meta">
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Nazrul</a>
                            <a href="#"><i class="fa fa-calendar-o" aria-hidden="true"></i> 5 Nov, 2017</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 345</a>
                        </div>
                        <p>Classy is completely creative, clean &amp; 100% responsive website. Put your business into next level with it.</p>
                        <a class="btn btn-pill btn-success m-top-15" href="#">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Single News Area Start -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_latest_news_area m-bottom-15">
                    <div class="single_latest_news_img_area">
                        <img src="img/gallery/edu-6.jpg" alt="">
                        <!-- Category -->
                        <a href="#" class="news-category bg-success">Creative</a>
                    </div>
                    <div class="single_latest_news_text_area p-15">
                        <a class="news-headline" href="#">Education will do anything for you.</a>
                        <div class="post-meta">
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Nazrul</a>
                            <a href="#"><i class="fa fa-calendar-o" aria-hidden="true"></i> 5 Nov, 2017</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 345</a>
                        </div>
                        <p>Classy is completely creative, clean &amp; 100% responsive website. Put your business into next level with it.</p>
                        <a class="btn btn-pill btn-success m-top-15" href="#">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Blog Area End ***** -->

<!-- ***** Footer Area Start ***** -->
<footer class="footer_area">
    <!-- Footer Bottom Area Start -->
    <div class="footer_bottom_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="social_links_area">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="footer_bottom">
                    </div>
                    <!-- Bottom Footer Copywrite Text Area End -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Footer Area End ***** -->
